{% extends 'base.html' %}

{% load static %}

{% block contenidoQCambia %}
    <h1>ListView de Cursos</h1>

    <ul>
        {% for curso in cursos %}
            <li>
                <a href="{% url 'CursosDetailView' curso.id %}">
                    {{curso}}
                </a>
            </li>
            <div style="display: flex; column-gap: 5px;">
                <button>
                    <a href="{% url 'CursosDeleteView' curso.id %}">Eliminar</a>
                </button>
                <button>
                    <a href="{% url 'CursosUpdateView' curso.id %}">Editar</a>
                </button>
            </div>
        {% endfor %}  
    </ul>
    <a href="{% url 'CursosCreateView' %}">Crear Curso</a>
{% endblock contenidoQCambia %}